.content {
    margin-top: 20px;
    display: flex;
    column-gap: 60px;
    width: 100%;
}

#dashboard-title{
    margin-bottom: 10px;
    margin-top: 20px;
    font-style: oblique;
}

.graphs-div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 600px;
}

.patient-graph {
    flex: auto;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    background-color: white;
    font-weight: bold;
}

.patient-activites-word {
    text-align: center;
}

#mychart {
    width:100%;
    max-width:600px;
}

.patient-donutchart {
    flex: auto;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    background-color: white;
    font-weight: bold;
}

#myDonutChart {
    width:100%;
    max-width:600px;
}

/* schedule patient to you */

/* recent--patients */


.table {
    width: 100%;
    overflow-y: auto; 
    border-right: #000;
    border-style: solid;
    border-width: 1px;
    max-height: 500px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    
}

tr {
    border-bottom: 1px solid #f1f1f1;
}

td,
th {
    padding-block: 10px;
}

.edit {
    color: #70d7a5;
    margin-right: 10px;
    font-size: 20px;
}

.delete {
    color: red;
    font-size: 20px;
}

.edit,
.delete {
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
}

.edit:hover,
.delete:hover {
    transform: rotate(10deg);

}