.inventory-div {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.register-item-button {
    float: right;
}

.item-table {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    border-collapse: collapse;
    margin-top: 20px;
}

.item-table tr:hover {
    background-color: white;
}

.item-table th {
    background-color: rgb(123, 123, 221);
    padding: 10px;
    text-align: left;
}

.item-table td {
    padding: 5px;
    text-align: left;
}

.item-table td:hover {
    background-color: grey;
    color: white;
}

/*style for mmodal register item*/

.modal-reg-item {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    animation-name: animatezoom;
    animation-duration: 0.2s;
}

.modal-item-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

#item-title{
    margin-bottom: 10px;
    font-style: italic;
}

#item-name-input {
    height: 25px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid black;
    margin-right: 20px;
    border-radius: 5px;
}

#input-select-category {
    height: 25px;
    margin-right: 20px;
}

#input-item-quantity {
    height: 25px;
    padding: 10px;
    font-size: 15px;
    width: 100px;
    border-radius: 5px;
}

#cancel-button-item,
#confirm-button-item {
    float: right;
    margin-right: 10px;
    height: 30px;
    padding: 5px;
    transition: 0.4s;
    border: 1px solid gray;
}

#cancel-button-item:hover,
#confirm-button-item:hover {
    transform: scale(1.1);
}

#cancel-button-item:hover {
    background-color: lightcoral;
    color: white;
}

#confirm-button-item:hover {
    background-color: green;
    color: white;
}

#already-exists {
    color: red;
    margin-top: 10px;
    font-size: 15px;
    margin-left: 10px;
}

/*pagination style */

.pagination-section {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .navigation,
  .pagination-buttons {
    padding: 3px;
    background-color: rgb(123, 123, 221);
    border: none;
    color: white;
    margin-right: 3px;
  }
  
  .navigation:hover,
  .pagination-buttons:hover {
    background-color: white;
    color: black;
  }