.js-name-input,
      .js-date-input,
      .js-address-input {
        font-size: 15px;
        padding: 5px;
      }

      .js-address-input {
        margin-top: 5px;
      }

      .add-button {
        background-color: green;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        transition: 0.5s;
        margin-top: 10px;
      }

      .add-button:hover {
        transform: scale(1.2);
      }

      .title,
      .js-patient-list {
        display: grid;
        width: 1000px;
        grid-template-columns: 1fr 150px 1fr 100px 100px;
        column-gap: 20px;
        row-gap: 10px;

      }

      .title {
        margin-bottom: 5px;
        font-weight: bold;
        font-style: italic;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        padding: 5px;
      }

      .js-patient-list {
        background-color: white;
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        padding: 5px;
        max-height: 500px;
        overflow: scroll;
      }

      .delete-patient-button {
        background-color: darkred;
        color: white;
        border: none;
        cursor: pointer;
        transition: 0.5s;
      }

      .delete-patient-button:hover {
        transform: scale(1.2);
      }

      

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  border: none;
  border-radius: 5px;
}

.confirm-button {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(29, 190, 29);
  border: none;
  border-radius: 5px;
}

.container {
  padding: 16px;
  font-size: 15px;
  border-radius: 10px;
  
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  background-color: rgb(196, 190, 190);
  border-radius: 10px;
}

/* The Close Button (x) */
.close {
  
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  margin-left: 10px;
}

.form-title {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  font-style: italic;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


.list-title {
  margin-top: 20px;
 
}



