#add-record {
  width: 100px;
  height: 30px;
  background-color: rgb(80, 190, 80);
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

#add-record:hover {
  transform: scale(1.1);
  background-color: green;
}

#modal-wrapper {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  animation-name: animatezoom;
  animation-duration: 0.2s;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.modal-header {
  margin-bottom: 20px;
}

.close {
  font-size: 30px;
  position:relative;
  float: right;
  top: -70px;
  right: -10px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: red;
}

h2 {
  font-style: oblique;
}

h3 {
  color: green;
}



.modal-title {
  text-align: center;
}

label {
  font-size: 20px;
}

.regform-logo {
  float: right;
  position: relative;
  right: 10px;
  top: -70px;
}

input {
  height: 25px;
  padding: 15px;
  font-size: 15px ;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: lightgray;
  margin-bottom: 5px;
}

#age{
  width: 100px;
}

.input-div {
  margin-bottom: 10px;
}
label {
  display: block;
}

#gender {
  display: inline;
}

#marital-status {
  display: inline;
}

.modal-footer {
  height: 30px;
  margin-top: 20px;
}

#add-button {
  float: right;
  height: 30px;
  width: 100px;
  background-color: rgb(122, 194, 170);
  border: none;
  transition: 0.7s;
}

#add-button:hover,
#cancel-button:hover {
  transform: scale(1.1);
}

#cancel-button {
  float: right;
  margin-right: 10px;
  height: 30px;
  width: 80px;
  background-color: rgb(150, 62, 62);
  border: none;
  transition: 0.7s;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/*patiend record section*/

.patient-records-container {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  
}

#searchbar-record {
  float: right;
}

.records-container {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.header-grid {
  display: grid;
  grid-template-columns: 300px auto 300px 100px;
  height: 40px;
  align-content: center;
  background-color: rgb(146, 121, 121);
  padding: 10px;
}

.content-line {
  display: grid;
  grid-template-columns: 300px auto 300px 100px;
  align-content: center;
  padding: 10px;
  height: 50px;
  align-content: center;
  border-bottom: 1px solid black;
}



.edit {
  color: green;
  margin-right: 15px;
  transition: 0.4s;
  height: 30px;
  width: 30px;
  font-size: 20px;
}

.delete {
  color: red;
  transition: 0.4s;
  height: 30px;
  width: 30px;
  font-size: 20px;
}

.edit:hover,
.delete:hover {
  transform: scale(1.2);
}