.inventory-div {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

#inventory-title {
    margin-bottom: 10px;
}

#search-bar {
    height: 30px;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid gray;
}

.register-item-button {
    float: right;
    height: 30px;
    padding: 5px;
    border: 1px solid rgb(54, 54, 54);
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(123, 123, 221);
    color: white;
}

.register-item-button:hover {
    transform: scale(1.1);
    box-shadow: 2px 3px rgb(75, 74, 74);
}

.item-table {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    border-collapse: collapse;
    margin-top: 20px;
}

.item-table tr:hover {
    background-color: white;
}

.item-table th {
    background-color: rgb(123, 123, 221);
    padding: 10px;
    text-align: left;
}

.item-table td {
    padding: 5px;
    text-align: left;
}

.item-table td:hover {
    background-color: grey;
    color: white;
}

/*style for mmodal register item*/

.modal-reg-item {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-item-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#item-title {
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}

#item-name-input,
#input-select-category,
#input-item-quantity {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#cancel-button-item,
#confirm-button-item {
    width: 48%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#cancel-button-item {
    background-color: #f44336;
    color: white;
}

#confirm-button-item {
    background-color: #4caf50;
    color: white;
}

#cancel-button-item:hover,
#confirm-button-item:hover {
    opacity: 0.8;
}

#already-exists {
    color: red;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

/* action styles*/

#see-item,
#edit-item,
#delete-item {
    padding: 3px;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

#see-item:hover,
#edit-item:hover,
#delete-item:hover {
    transform: scale(1.1);
}

#see-item:hover {
    background-color: lightblue;
}

#edit-item:hover {
    background-color: lightgreen;
}

#delete-item:hover {
    background-color: lightcoral;
}

/*pagination style */

.pagination-section {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .navigation,
  .pagination-buttons {
    padding: 3px;
    background-color: rgb(123, 123, 221);
    border: none;
    color: white;
    margin-right: 3px;
  }
  
  .navigation:hover,
  .pagination-buttons:hover {
    background-color: white;
    color: black;
  }