.top-wrapper {
  display: flex;
  column-gap: 20px;
}

.wrapper {
    flex: 730px;
    margin-top: 20px;
    background-color: white;
    padding-top: 10px;
    border-radius: 10px;
  }
  
  /* Buttons in the calendar */
  .button-container-calendar button {
    cursor: pointer;
    background: green;
    color: #fff;
    border: 1px solid green;
    border-radius: 4px;
    padding: 5px 10px;
  }
  
  /* Calendar table */
  .table-calendar {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #dadada;
  }
  
  .table-calendar td,
  .table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
  }
  
  /* Date picker */
  .date-picker.selected {
    background-color: #f2f2f2;
    font-weight: bold;
    outline: 1px dashed #00BCD4;
  }
  
  .date-picker.selected span {
    border-bottom: 2px solid currentColor;
  }
  
  /* Day-specific styling */
  .date-picker:nth-child(1) {
    color: red;
    /* Sunday */
  }
  
  .date-picker:nth-child(6) {
    color: green;
    /* Friday */
  }
  
  /* Hover effect for date cells */
  .date-picker:hover {
    background-color: green;
    color: white;
    cursor: pointer;
  }
  
  /* Header for month and year */
  #monthAndYear {
    text-align: center;
    margin-top: 0;
  }
  
  /* Navigation buttons */
  .button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
  }
  
  #previous {
    float: left;
    width: 50px;
    margin-left: 20px;
  }
  
  #next {
    float: right;
    width: 50px;
    margin-right: 20px;
  }

  #previous:hover,
  #next:hover {
    transform: scale(1.2);
  }

  /* Footer styling */
  .footer-container-calendar {
    margin-top: 1em;
    
    padding: 10px 0;
    margin-left: 20px;
    padding-right: 20px;
  }
  
  .footer-container-calendar select {
    cursor: pointer;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
  }

  .calendar-title {
    text-align: center;
    color: rgb(55, 155, 189);
    margin-bottom: 5px;
  }

  #monthAndYear {
    color: rgb(55, 155, 189);
  }

  .scheduled-list {
    max-height: 350px;
    flex: 300px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
    overflow: scroll;
  }

  .schedule-title {
    text-align: center;
    font-style: italic;
    color: rgb(55, 155, 189);
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
  }

  .schedule-cards {
    display: flex;
    justify-self:center;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 2px;
    justify-content: space-between;
  }

  .schedule-bullet{
    display: inline-block;
    margin-left: 10px;
  }

  .schedule-date {
    margin-right: 10px;
  }

  #schedule-picture {
    height: 30px;
    width: 30px;
    border-radius: 15px;
  }


  /*bottom wrapper*/
  .bottom-wrapper {
    display: flex;
    margin-top: 20px;
    column-gap: 20px;
  }

  /*css for input form*/
  .input-form {
    width: 500px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
  }

  .list-title-header {
    height: 40px;
  }

#list-title {
  text-align: center;
  color: rgb(55, 155, 189);
}

  #name-input {
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(194, 194, 240);
    padding: 3px;
    width: 250px;
    margin-bottom: 10px;
    margin-right: 20px;
    display: block;
  }

  #status-input {
    float: right;
    height: 25px;
    border: 1px solid rgb(194, 194, 240);
  }

  #date-input {
    height: 30px;
    width: 250px;
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(194, 194, 240);
  }

  #description-input {
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid rgb(194, 194, 240);
    padding: 3px;
  }

  .add-event-button {
    float: right;
    width: 80px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(118, 218, 118);
  }

  .add-event-button:hover {
    background-color: rgb(34, 153, 34);
    box-shadow: 2px 2px #888888;
  }

  /*styles for schedule counter*/

  .schedule-counter-wrapper {
    display: flex;
    background-color: white;
    width: 300px;
    padding: 15px;
    border-radius: 20px;
    margin-left: 30px;
  }

  .dayoff-div,
  .leave-div,
  .other-div {
    flex: 1;
    border: 1px solid gray;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 5px;
  }

  .schedule-counter {
    color: #585858;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .schedule-counter-wrapper p {
    font-size: 60px;
    color: lightcoral;
  }






.event-tooltip {
    position: absolute;
    background-color: rgba(234, 232, 232, 0.763);
    color: black;
    padding: 10px;
    border-radius: 4px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
.event-marker:hover .event-tooltip {
    display: block;
  }

.event-marker {
  position: relative;
}

.event-marker::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}