/* Calendar styling */

.top-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}

#monthAndYear {
  text-align: center;
}

#next {
  float: right;
}

#next,
#previous {
  height: 30px;
  width: 40px;
  background-color: rgb(104, 173, 104);
  border: none;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}

#next:hover,
#previous:hover {
  transform: scale(1.2);
}

.wrapper {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.calendar-title {
  text-align: center;
  color: #379bbd;
  margin-bottom: 10px;
}

.calendar-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.table-calendar {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.table-calendar th,
.table-calendar td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  max-width: 50px;
}

.today {
  background-color: rgb(135, 223, 135);
}

.table-calendar td:hover {
  background-color: green;
  color: white;
}

#back-to-current-date,
.jump-button{
  margin-top: 10px;
  border: none;
  padding: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  background-color: rgb(104, 173, 104);
  cursor: pointer;
  margin-right: 5px;
}

#back-to-current-date:hover,
.jump-button:hover{
  background-color: green;
  color: white;
}

.select-date {
  padding: 3px;
  margin-right: 5px;

}


/* Schedule list styling */

.scheduled-list {
  flex: 1;
  max-width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
}

.schedule-title {
  text-align: center;
  font-style: italic;
  color: #379bbd;
  margin-bottom: 20px;
}

.schedule-cards-wrapper {
  display: grid;
  gap: 10px;
}

.schedule-cards {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.cards-link {
  margin-bottom: 10px;
}

.schedule-cards:hover {
  background-color: lightgreen;
}

.schedule-bullet {
  flex: 1;
}

.schedule-date {
  font-size: 0.8em;
}

/* Input form styling */

.input-form {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.input-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-form input,
.input-form select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.add-event-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #379bbd;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-event-button:hover {
  background-color: #1e6a7b;
}

/* Schedule counter styling */

.schedule-counter-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.schedule-counter-wrapper div {
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.schedule-counter {
  margin-bottom: 10px;
  color: #333;
}

.schedule-counter p {
  font-size: 24px;
  margin: 0;
  color: #379bbd;
}


/* css for schedule request */

.request-wrapper {
  margin-top: 20px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.request-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #4CAF50;
}

.employee-name {
  margin-bottom: 10px;
  font-size: 20px;
}

.date-request,
.status-request,
.description-request,
.employee-number {
  margin-bottom: 15px;
  font-size: 16px;
  color: #555;
}



.approve-request {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #17b61c;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.approve-request:hover {
  background-color: #5cbb61;
}

.decline-request {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(190, 19, 19);
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.decline-request:hover {
  background-color: rgb(250, 115, 115);
}

.decline-modal,
.approve-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
animation-name: animatezoom;
animation-duration: 0.2s;
}

.decline-modal-content,
.approve-modal-content {
  width: 30%;
  margin: auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* subtle shadow effect */
  animation: fadeIn 0.5s ease;
}

.close-container,
.close-container-approve {
  text-align: right;
  margin-top: 0px;
}

.close-modal,
.close-approve-modal {
  font-size: 30px;
  color: #555;
  cursor: pointer;
}

.close-modal:hover,
.close-approve-modal:hover {
  color: red;

}

.confirmation {
  font-size: 18px;
  margin-bottom: 20px;
}

.decline-request {
  background-color: #FF5A5F; /* red color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.approve-request {
  background-color: green; /* red color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.approve-request {
  background-color: rgb(88, 221, 88);
}

.decline-request:hover {
  background-color: #E33E41; /* slightly darker red on hover */
}

/* Animation */
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}